$dark: #1C1C1C;
$grey-800: #505050;
$grey-600: #505050;
$grey-500: #8B96A5;
$grey-400: #BDC4CD;
$grey-300: #DEE2E7;
$grey-200: #EFF2F4;
$grey-100: #F5F5F5;
$blue-100: #E3F0FF;
$primary: #0D6EFD;
$green-light: #C3FFCB;
$green: #00B517;
$orange-light: #FFE6BF;
$orange: #FF9017;
$red: #FA3434;
$black-700: #202020;
$black-600: #2D2D2D;
$black-700: #202020;
$light: #FFFFFF;
$purple: #b90281;

