.header {
  padding: 1rem 0;
  box-shadow: 0px 2px 2px #0B101C;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-direction: row;
  margin: 0;
}

.headerMenu li {
  margin: 0 1rem;
}

.headerMenu li .headerItem {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1rem;
}

.headerMenu li .headerItem:hover {
  color: #b90281;
  background-color: #505050;
  border-radius: 0.5rem; 
  padding: 0.5rem 1rem;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.headerMenu li .headerItem:hover:hover {
  background-color: #3e3e3e;
}

